{% extends "base.html" %}
{% set active_page = "manage_library_card" %}
{% block head %}{% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">借书证管理</h1>

    <div class="card mb-4 py-3 border-left-primary">
        <div class="card-body">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post_record_modal"
                id="add_button">
                添加记录
            </button>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="post_record_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">编辑</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form" id="form_data">

                        <div class="form-group row">
                            <label for="card_id" class="col-sm-2 col-form-label">ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="card_id" name="card_id"
                                    placeholder="请输入借书证ID">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="name" placeholder="请输入姓名">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="sex" class="col-sm-2 col-form-label">性别</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="sex" name="sex" placeholder="请输入性别">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telephone" class="col-sm-2 col-form-label">电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="telephone" name="telephone"
                                    placeholder="请输入电话">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="enroll_date" class="col-sm-2 col-form-label">注册日期</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="enroll_date" name="enroll_date"
                                    placeholder="YYYY-MM-DD">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="valid_date" class="col-sm-2 col-form-label">有效日期</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="valid_date" name="valid_date"
                                    placeholder="YYYY-MM-DD">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="loss" class="col-sm-2 col-form-label">挂失</label>
                            <select class="form-control" id="loss" name="loss">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="debt" class="col-sm-2 col-form-label">欠费</label>
                            <select class="form-control" id="debt" name="debt">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="save_button">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">借书证列表</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>卡编号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>电话</th>
                            <th>注册日期</th>
                            <th>到期时间</th>
                            <th>挂失</th>
                            <th>欠费</th>
                            <th>编辑</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<!-- /.container-fluid -->

{% endblock %}

{% block script %}
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function () {

        var tables = $('#dataTable').DataTable();
        refresh_table();

        var post_method = 'change';
        $('#add_button').on('click', function () {
            post_method = 'add';
            var fields = $("#form_data").serializeArray();
            jQuery.each(fields, function (i, field) {
                //jquery根据name属性查找
                $(":input[name='" + field.name + "']").val("");
            });
            $('#loss').val("0");
            $('#debt').val("0");
        });

        $('#save_button').on('click', function () {
            console.log(post_method)
            var form = new FormData(document.getElementById("form_data"));
            form.append('post_method', post_method);
            $.ajax({
                url: "{{ url_for('manage_library_card') }}",
                type: "post",
                data: form,
                processData: false,
                contentType: false,
                success: function (data) {
                    refresh_table();
                    alert("修改成功");
                },
                error: function () {
                    alert("error");
                }
            });
        })
    });

    function refresh_table() {
        $.ajax({
            url: "{{ url_for('get_all_library_card') }}",
            type: "get",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                tables = $('#dataTable').DataTable({
                    data: data,
                    destroy: true,
                    columns: [
                        { "data": "card_id" },
                        { "data": "name" },
                        { "data": "sex" },
                        { "data": "telephone" },
                        { "data": "enroll_date" },
                        { "data": "valid_date" },
                        { "data": "loss" },
                        { "data": "debt" },
                        { "data": null },
                        { "data": null }
                    ],
                    columnDefs: [{
                        "targets": -2,//编辑
                        "data": null,
                        "defaultContent": "<button id='editrow' class='btn btn-primary' type='button'><i class='fa fa-edit'></i></button>"
                    }, {
                        "targets": -1,//删除
                        "data": null,
                        "defaultContent": "<button id='delrow' class='btn btn-primary' type='button'><i class='fa fa-trash'></i></button>"
                    },
                    ]
                });
            }
        });
    }


    // 数据删除
    $('#dataTable tbody').on('click', 'button#delrow', function () {
        var data = tables.row($(this).parents('tr')).data();
        console.log(data['card_id']);
        $.ajax({
            url: "{{ url_for('delete_library_card') }}",
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (data) {
                refresh_table();
                alert("删除成功");
            },
            error: function () {
                alert("error");
            }
        })
    });

    // 数据编辑
    $('#dataTable tbody').on('click', 'button#editrow', function () {
        post_method = 'change';
        var data = tables.row($(this).parents('tr')).data();
        var fields = $("#form_data").serializeArray();
        jQuery.each(fields, function (i, field) {
            //jquery根据name属性查找
            $(":input[name='" + field.name + "']").val(data[field.name]);
        });
        $('#loss').val("0");
        $('#debt').val("0");
        $("#post_record_modal").modal("show");//弹出框show
    });


</script>
{% endblock %}